* {
    box-sizing: border-box;

}

body, div {
    margin: 0;
    padding: 0;
}

#main {
    border: 1px solid green;
    width: 1310px;
    margin: 0 auto;

}
.alert
{
    width: 1310px;
    height: 300px;
    position: absolute;
    top:0;
    background-color: beige;

    background-repeat: no-repeat;
    background-position: left center;
    border: 1px solid GoldenRod;
    font-size: 2em;
    text-align: center;
    line-height: 300px;
}
.aimAlert
{
    background-image: url("../../assets/cannon.png");
}
.winAlert
{
    background-image: url("../../assets/medal.png");
}
.lostAlert
{
    background-image: url("../../assets/skull.png");
}
.confirmBtn
{
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.board {

    position: relative;
    width: 640px;
    height: 640px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin: 10px auto;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 63px, #CCC 63px, #CCC 64px), repeating-linear-gradient(-90deg, transparent, transparent 63px, #CCC 63px, #CCC 64px);
    background-size: 64px 64px;
}
#ai_board
{
    display: none;
    margin-right: 10px;
}
.boat {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*margin: 50px;*/
    top: 670px;
    left :0;
    border: 1px solid pink;
}
.mast1 {
    background: url("../../assets/mast1.png");
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 64px;
    /*margin: 50px;*/

}
.mast2 {
    background: url("../../assets/mast2.png");
    width: 128px;
    height: 64px;
    background-size: cover;
    background-position: center;
    /*margin: 50px;*/

}
.mast3 {
    background: url("../../assets/mast3.png");
    width: 192px;
    height: 64px;
    background-size: cover;
    background-position: center;
    /*margin: 50px;*/

}
.mast4 {
    background: url("../../assets/mast4.png");
    width: 256px;
    height: 64px;
    background-size: cover;
    background-position: center;
    /*margin: 50px;*/

}

.rotatedmast1 {
    width: 64px;
    height: 64px;
    background: url("../../assets/rotatedmast1.png");
}
.rotatedmast2 {
    width: 64px;
    height: 128px;
    background: url("../../assets/rotatedmast2.png");
}
.rotatedmast3 {
    width: 64px;
    height: 192px;
    background: url("../../assets/rotatedmast3.png");
}
.rotatedmast4 {
    width: 64px;
    height: 256px;
    background: url("../../assets/rotatedmast4.png");
}
.endSetting
{
    background: url("../../assets/compassRose.png");
    width: 138px;
    height:144px;

}
